@tailwind base;
@tailwind components;
@tailwind utilities;

#root { 
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  background-color: #F9F9F9;
}

nav {
  ul {
    li {
      a.active {
        background-color: theme("colors.bsblue.500");
        border: 1px solid theme("colors.bsblue.500");
        color: white;
        @media screen and (max-width: theme("screens.lg")) {
          border-width: 2px;
        }
      }
    }
  }
}
