@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  background-color: #F9F9F9;
}

nav {
  ul {
    li {
      a.active {
        background-color: theme("colors.heroblue.500");
        color: white;
      }
    }
  }
}
